@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Edit</h2>

<h4>Edit this : @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RecipeId)

    @Html.LabelFor(model => model.Ingredient)
    @Html.EditorFor(model => model.Ingredient)

    @Html.LabelFor(model => model.Instruction)
    @Html.EditorFor(model => model.Instruction)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.Label("recipe rating 1-10")
    @Html.EditorFor(model => model.Rating)

    @Html.Label("Select category")
    @Html.DropDownList("CategoryId")

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Add a Category", "AddCategory", new { id = Model.RecipeId })</p>

<p>@Html.ActionLink("Back to list", "Index")</p>