@{
  Layout = "_Layout";
}

<h1>Welcome to the Recipe Box!</h1>
<hr>
<p>@Html.ActionLink("Search Recipes by Ingredient", "Search","Recipes" )</p>
<p>@Html.ActionLink("See all recipes", "Index", "Recipes")</p> 
<p>@Html.ActionLink("See all categories", "Index", "Categories")</p>
<p>@Html.ActionLink("Log in", "Index","Account" )</p>
<p>@Html.ActionLink("Log Off","Index", "Account")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
<p>@Html.ActionLink("View my account", "Details", "Account")</p>